<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Han Nom</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="static/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	
	<!-- JavaScript -->
	<script src="static/js/script.js"></script>
	
</head>
<body>
	<div class=''>
		<header class='main-header'>
			<div class="nav-wrapper">
					
				<nav class="navbar navbar-default" role="navigation">
				
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class='nav col-sm-2 col-md-2'>
							<form class="navbar-form" role="search" id='form-container'>	
								<div id='search-text' class="input-group">
									<input class="form-control" name="q" type='text' id='s' placeholder='Search'>
									<div class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
									</div>
								</div>
							</form>
						</div>
						
						<div class='col-sm-3 col-md-3'>
							<form class ="navbar-form" id='upload-form' method="post" action="{{ url_for('books.save_uploaded_zipfile') }}" enctype="multipart/form-data">
								<div class="custom-file" id="upload-wrapper">
									<input type="file" class="custom-file-input" id='file-input' accept=".zip,.rar,.7zip" name='upload-file' required>
									<input type='submit' class="" id='submit-file' value='Upload' >
								</div>
							</form>
						</div>
						
						<ul class="nav navbar-nav navbar-right">
							<li><a class="underlineHover" href="login">Sign out</a></li>
						</ul>
					</div>
					
				</nav>
				
			</div>
		</header>
		<section id='container'>
			<div class='wrap-container'>
				<div id='container-header'>
					<span id='notes'>
						<div class='user-info'>
							<span class='welcome'>
								Hi, {{ username }}
							</span>
						</div>
						{% if books|length != 0 %}
							You have total of {{ books|length }} book(s) uploaded.
						{% else %}	
							You have not uploaded any book yet.
						{% endif %}
					</span>
				</div>
				<div class='grid'>
					{% for book in books %}
						<div class='item'>
							<a class="image-popup" href="book?id={{ book['_id'] }}">
								<div class='book-cell'>
									<img class='' src='image?id={{ book["cover_image_id"] }}' width="260" height="260">
									<div class='caption'>
										<h3>{{ book['name'] }}</h3>
										<span>Last update: {{ book['updated'] }}</span>
									</div>
								</div>
							</a>

						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
</body>