<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>log in</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="static/css/style.css">
	
	<!-- JavaScript -->
	<script src="static/js/script.js"></script>
</head>

<body>
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<h2 class="inactive underlineHover">Sign In </h2>
			<hr>
			<!-- Login Form -->
			<div class='login-container'>
				<div class='note'>
					<span id='warning'></span>
				</div>
				<form>
					<input type="text" id="username-input" class="fadeIn second" name="login" placeholder="username" onchange='reset_warning()' required>
					<input type="password" id="password-input" class="fadeIn third" name="login" placeholder="password" onchange='reset_warning()' required>
					<input type="submit" class="fadeIn fourth" onclick='submit_login_form(event)' placeholder="Log in">
				</form>
			</div>
			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="#">Forgot Password?</a>
				<a class="register" href="register">Sign up</a>
			</div>

  </div>
</div>
</body>