<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Read</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="static/css/style.css">
	
	<!-- JavaScript -->
	<script src="static/js/script.js"></script>
</head>

<body>
	<div id="wrapper">
		<header class='main-header'>
			<div class="home">
				<a href="/">Home</a>
			</div>
		</header>
		<div class="container">
			<div class="view-panel">
				{% for page in pages %}
					<div id="{{ page['imgId'] }}">
						<div class="view">
							<canvas type="image-panel"  width="800" height="800" >
								<img src="image?id={{ page['imgId'] }}" onload="draw_img_on_canvas(this)">
							</canvas>
						</div>
						<div class="load-annotation">
							<button class="btn-annotation" data-img-id="{{ page['imgId'] }}" onclick="get_annotation(this)">Annotation</button>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>